body {
    color: #666666;
}

div.content-wrapper {
    top: 47px;
}

body.admin .pure-menu-fixed {
    padding-top: 62px;
}

body.admin div.content-wrapper {
    margin-top: 62px;
}

.ribbon {
    background: none repeat scroll 0 0 #EEEEEE;
    padding: 1.5em;
}

.ribbon h2 {
    display: inline;
    padding-right: 6px;
    color: #888888;
    font-weight: normal;
}

.presentation-info {
    font-weight: bold;
    margin-bottom: 1em;
}

.track {
    text-align: center;
}

.presentation-link {
    text-decoration: none;
    font-weight: bold;
}

.speaker .portrait {
    margin: 1.4em 0.7em 0 0;
    float: left;
}

.speaker h3 {
    clear: both;
}

.mini-portrait {
    margin: 0 0.4em 0 0;
}

.subscription-form {
    max-width: 400px;
}

.flash-notice {
    margin: 4em 5em 0 5em;
    padding: 1em;
    clear: both;
    border: solid #8f8;
    background: #dfd;
    color: #333;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

ul.locale-chooser {
    padding-left: 20px;
}
.pure-menu .locale-chooser li a {
    padding-left: 0;
    padding-right: 0;
}

.pure-menu ul.user-control {
    font-size: 0.7em;
    padding-top: 0.3em;
}

.pure-form.login-form input[type] {
    width: auto;
    margin-bottom: 0;
}
.pure-form label {
    font-weight: normal;
}

.error {
    padding: 0.5em 1.5em;
    margin: 0 0 1.5em 0;
    border: 0 none rgba(0, 0, 0, 0);
    border-radius: 2px;
    transition: box-shadow 0.1s linear 0s;
    background-color: red;
}

.create-ui-toggle {
    -moz-box-sizing: content-box;
}
