body {
    color: #666666;
}

div.content-wrapper {
    top: 47px;
}

.ribbon {
    background: none repeat scroll 0 0 #EEEEEE;
    padding: 1.5em;
}

.ribbon h2 {
    display: inline;
    padding-right: 6px;
    color: #888888;
    font-weight: normal;
}

.presentation-info {
    font-weight: bold;
    margin-bottom: 1em;
}

.track {
    text-align: center;
}

.presentation-link {
    text-decoration: none;
    font-weight: bold;
}

.subscription-form {
    max-width: 400px;
}

.flash-notice {
    margin: 4em 5em 0 5em;
    padding: 1em;
    clear: both;
    border: solid #8f8;
    background: #dfd;
    color: #333;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
